In [ ]:
#displaying greeting
print('hello')
print('tom')

hello
tom

In [6]:
#this is a comment 
print('test') #prints test

#print('test2')

test

In [ ]:
#fundamental concepts
#Variables
#Data types
#Input/Output
#Operators
#Conditions
#Loops
#String manipulation
#Arrays/Lists

In [ ]:
#variables
age = 15

print(age)

15

In [ ]:
print(age)


age=30

print(age)

15
30

In [ ]:
#variable naming convention

name="John" #good variable name
name2="john" #good variable name
na2me="john"

# 2name="john" #cannot start a varuable name with name

# name£="john" #special characters are not allowed

# first name="john" #variable name cannot contain spaces

first_name="john" #underscore is the only allowed special character

firstName="tom"

Name="john" #valid but should not be used. reserved for class names

NAME='John'  #valid but should not be used. reserved for constant

In [ ]:
#Data types
#String
#Number (integers and floating)
#Boolean
#None

In [3]:
#string

char="A"

print(char)

char='b'

print(char)

num='2'
print(num)


print(type(num))

A
b
2
<class 'str'>

In [10]:
word='Bed'
print(word)

sentence='This is some text'
print(sentence)


data="GYFUU768329wGVF£Y*uijd d83290i`duhgvjbcju7yu"
print(data)

Bed
This is some text
GYFUU768329wGVF£Y*uijd d83290i`duhgvjbcju7yu

In [12]:
#Number

#integers - whole numbers

age=10
print(age)

print(type(age))

age=0

age= -334535432892883878
print(age)

10
<class 'int'>
-334535432892883878

In [15]:
#floating point - decimal numbers

total=100.55
print(total)

total=-3829.678392093876
print(total)

print(type(total))

100.55
-3829.678392093876
<class 'float'>

In [28]:
total=100.50000000000
print(total)

100.5

In [31]:
#boolean
#true
#false

married=True
print(married)

married=False
print(married)


print(type(married))

True
False
<class 'bool'>

In [32]:
value=None

print(type(value))

<class 'NoneType'>

In [34]:
#inputs

name=input("Please enter your name")

print(name)

paul

In [ ]:
#output

print('This is some text')

name='Ton'
print(name)

This is some text
Ton

In [44]:
name="Rita"
age=50

print(name, "is",age,"years old")

Rita is 50 years old

In [ ]:
#string formatting
print("{} is {} years old".format(name,age))

Rita is 50 years old

In [46]:
#f-strings
name="Rita"
age=50

print(f"{name} is {age} years old")

Rita is 50 years old

In [ ]:
#convertion/casting

age=input('Enter your age')
# age=int(input('Enter your age'))
print(age)

age=int(age)

print(type(age))

70
<class 'int'>

In [50]:
test=int(input('Enter your age: '))
print(test)

ValueError: invalid literal for int() with base 10: 'fhek'

In [ ]:
#operators
num1=10
num2=5

sum=num1+num2
print("Sum:", sum)

difference = num1 - num2
print("Difference:", difference)

product = num1 * num2
print("Product:", product)

quotient = num1 / num2
print("Quotient:", quotient)

remainder = num1 % num2
print("Remainder:", remainder)

power = num1 ** num2
print("Power:", power)

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0
Remainder: 0
Power: 100000

In [ ]:
#order of operations
#BODMAS

result= 3 + (15/5-2) * 3

In [16]:
import math

num1=5.2
num2=2


# math.ceil(num1/num2)
# math.floor(num1/num2)
round(num1/num2)

3

In [ ]:
#basic structure of a condition
if ():
    pass

else:
    pass

In [18]:
married=False

if (married==True):
    print('You are married')
else:
    print('You are not married')

You are not married

In [21]:
temp=24

if (temp>25):
    print("turning on the ac")
else:
    print("turning off the ac")

turning off the ac

In [26]:
total=11000

if total>1000:
    print('You get a 10% discount')

You get a 10% discount

In [ ]:
password='1245'

if password != '12345':
    print('Incorrect password')

Incorrect password

In [32]:
#if else if

total=500

if total>=10000:
    print('You get a 10% discount')

elif total>=5000:
    print('You get a 5% discount')

elif total>=1000:
    print('You get a 1% discount')

else:
    print('No discount')

No discount

In [ ]:
#incorreect order of condtions
total=11000

if total>=1000:
    print('You get a 1% discount')

elif total>=5000:
    print('You get a 5% discount')

elif total>=10000:
    print('You get a 10% discount')

else:
    print('No discount')

You get a 1% discount
You get a 5% discount
You get a 10% discount

In [ ]:
#and operator

temp=27
humidity=60

if (temp>25 and humidity>50):
    print('Turning on the ac')
else:
    print('Turning off the ac')

Turning on the ac

In [44]:
#or
temp=29
humidity=30

if (temp>25 or humidity>50):
    print('Turning on the ac')
else:
    print('Turning off the ac')

Turning on the ac

In [47]:
married=True

if (married):
    print('You are married')
else:
    print('You are not married')

You are married

In [50]:
married=False

if not married:
    print('You are not married')

You are not married

In [56]:
#loops
#while - condition based
#for - counter based

print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
#for loop structure
for ():
    pass

In [58]:
#i is the counter variable

for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [59]:
for i in range(5):
    print(i)

0
1
2
3
4

In [60]:
for i in range (5,10):
    print(i)

5
6
7
8
9

In [ ]:
#print even numbers between 1 and 10

for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
#print odd numbers between 1 and 10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [63]:
#print even number sbetween 1 and 20

for i in range(20):
    if i==0:
        pass
    else:
        if i%2==0:
            print(i)

2
4
6
8
10
12
14
16
18

In [64]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [66]:
#while loop

price=0
total=0

while price!=-1:
    price=int(input('Enter the price: '))
    print('The price is:', price)
    if price==-1:
        break
    total=total+price
    print("Total:", total)

print('The total is:', total)

The price is: 100
Total: 100
The price is: 200
Total: 300
The price is: 300
Total: 600
The price is: 5000
Total: 5600
The price is: -1
The total is: 5600

In [ ]:
total=0

while total<1500:
    price=int(input('Enter the price: '))
    total=total+price
    print('Total:', total)

print('The total is:', total)

Total: 100
Total: 300
Total: 600
Total: 1200
Total: 1300
Total: 1500
The total is: 1500

In [ ]:
while True: #inifnite loop
    print('hello')

In [69]:
#continue - skip to next iteration
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [71]:
#break - stop the loop - go out of the loop

for i in range(10):
    if i==5:
        break
    print(i)

print('program ends')

0
1
2
3
4
program ends