In [16]:
mark1=50
mark2=60
mark3=70
mark4=80
mark5=88
mark6=10
mark7=20
mark8=30
mark9=40
mark10=100

In [17]:
#complex data structure
# sets
# tuples
# dictionaries
# lists

In [18]:
#lists

names=["Tom",'Paul',"John","Eric","Peter"]

print(names)

['Tom', 'Paul', 'John', 'Eric', 'Peter']

In [19]:
#accessing a list

first_name=names[0]

print(first_name)


fourth_name=names[3]

print(fourth_name)

Tom
Eric

In [4]:
#update a list
ages=[10,30,40]


ages[1]=31

print(ages)

[10, 31, 40]

In [20]:
#a list is circular
cars=["Toyota","Nissan","Subaru","Mazda","Ford"]

# print(cars[0])
# print(cars[1])
# print(cars[2])
# print(cars[3])
# print(cars[4])

# print(cars[5])

#negative indexing
# -1 is the last element

print(cars[-1])


#subaru
print(cars[-3])


#negative indexing also goes out of range
# print(cars[-6])

Ford
Subaru

In [21]:
#empty lists
hotels=[]

print(hotels)

#find the length of a list
length=len(hotels)
print(length)

[]
0

In [22]:
#add an element to a list - LIFO
hotels=[]


hotels.append("Hilton") #add value at the end of the list

print(hotels)

hotels.append("Riu")

hotels.append('Lux')

print(hotels)

['Hilton']
['Hilton', 'Riu', 'Lux']

In [23]:
#remove from the list

print(hotels)
hotels.pop()

print(hotels)

removed=hotels.pop() #remove and save to variable
print(removed)
print(hotels)

['Hilton', 'Riu', 'Lux']
['Hilton', 'Riu']
Riu
['Hilton']

In [1]:
#delete specific element

names= ["Tom","Eric","paul","Pierre"]

names.remove("paul")
print(names)

['Tom', 'Eric', 'Pierre']

In [2]:
names= ["Tom","Eric","paul","Pierre"]


for name in names:
    print(name)

Tom
Eric
paul
Pierre

In [3]:
for i,name in enumerate(names):
    print(f"{i} : {name}")

0 : Tom
1 : Eric
2 : paul
3 : Pierre

In [6]:
#lists in python are dynamic

person=["Tom","Wick",30,False]
print(person)

print(type(person))

['Tom', 'Wick', 30, False]
<class 'list'>

In [7]:
marks=[40,50,60,33,55,70]

total=0
for mark in marks:
    total=total+mark

print(total)
avg=total/len(marks)
print(f'Avg is {avg}')

308
Avg is 51.333333333333336

In [13]:
student_marks=[[40,50,60],[20,30,70],[60,50,30]]

print(student_marks)

first_students_marks=student_marks[0]
print(first_students_marks)

#lets say i want ot get 50 (3rd students 2nd mark)
value= student_marks[2][1]
print(value)


#70
print(student_marks[1][2])


fourth_student=[50,60,70]

student_marks.append(fourth_student)
print(student_marks)

#update
student_marks[3][2]=90

print(student_marks)

[[40, 50, 60], [20, 30, 70], [60, 50, 30]]
[40, 50, 60]
50
70
[[40, 50, 60], [20, 30, 70], [60, 50, 30], [50, 60, 70]]
[[40, 50, 60], [20, 30, 70], [60, 50, 30], [50, 60, 90]]

In [ ]:
#delete variable form memory
name="tom"

del name

print(name)

NameError: name 'name' is not defined

In [19]:
student_marks=[[40,50,60],[20,30,70],[60,50,30]]



total=0
counter=0

for student in student_marks:
    for mark in student:
        print(mark)
        total=total+mark
        counter+=1

print("total: ",total)
    
avg=total/counter
print("average: ",avg)

40
50
60
20
30
70
60
50
30
total:  410
average:  45.55555555555556

In [21]:
#array slicing


names=["Tom","Eric","paul","Pierre"]

new_names=names[0:3]
print(new_names)


#paul and pierre only
new_names=names[2:4]
print(new_names)

['Tom', 'Eric', 'paul']
['paul', 'Pierre']

In [24]:
names=["Tom","Eric","paul","Pierre"]

#get last 2 elements
print(names[-2:])


#get first 3

print(names[:3])

['paul', 'Pierre']
['Tom', 'Eric', 'paul']